<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moudle.mapper.CompanyMapper">
    <!--    添加一个公司-->
    <insert id="addCompany" parameterType="Company">
        insert into company
        (name,creationDate,numOfMember)
        values(#{name},#{creationDate,jdbcType=DATE},#{numOfMember})
    </insert>
    <!--   查找所有公司信息 -->
    <select id="selectAllCompany" parameterType="Company" resultType="Company">
        SELECT * FROM company WHERE name LIKE CONCAT("%",#{name},"%")
    </select>
</mapper>